{% extends "../layouts/default.html" %} {% block title %} Hello, Zepto! {% endblock %} {% block body %}
<div class="container mt-5">
    <div id="errorMsg" class="alert alert-danger visually-hidden" role="alert"></div>
    <h1 class="text-start" id="eventHeader">Welkom!</h1>

    <p>
        <b>Locatie</b>:
        <span class="badge rounded-pill bg-primary" id="locationPill"></span>
    </p>
    <p id="childInfoLabel"></p>
    <p class="lead">Selecteer een moment uit de volgende opties:</p>
    <div id="root"></div>

    <!-- Modal -->
    <div class="modal fade" id="greeterModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Welkom!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Wat is de naam van uw kind?</label>
                            <input type="text" class="form-control" id="child-name" />
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">In welke klas zit uw kind?</label>
                            <input type="text" class="form-control" id="child-group" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="dismissModal()">
                        Opslaan
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Weet je het zeker?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Afspraak op: <span id="modalDateString"></span></p>
                    <p>van: <span id="modalTimeString"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="SubmitRegistration()">
                        Ja
                    </button>
                    <button type="button" class="btn btn-primary" onclick="confirmationModal.hide()">
                        Nee
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/babel">
    /*jshint esversion: 6 */

    // Make sure people don't navigate
    // away from the page accidentally
    window.onbeforeunload = function () {
        return true;
    };


    // Some constants
    const monthValues = [
        "Januari",
        "Februari",
        "Maart",
        "April",
        "Mei",
        "Juni",
        "Juli",
        "Augustus",
        "September",
        "Oktober",
        "November",
        "December",
    ];

    // Define our greeter modal
    var greeterModal = new bootstrap.Modal(
        document.getElementById("greeterModal"),
        null
    );

    // Define our confirmation modal.
    var confirmationModal = new bootstrap.Modal(
        document.getElementById("confirmationModal"),
        null
    );

    // Define our variables
    
    let name = "";
    let group = "";
    let months = [];
    let dates = {};
    let currentFrom = 0;
    let currentUntil = 0;
    let currentDate = new Date();
    let existingRegistrations = [];
    let meetingDurationInMinutes = 0;
    let breakDurationInMinutes = 0;
    //let dateString = `${currentDate.getDate()} ${monthValues[currentDate.getMonth()]} ${currentDate.getFullYear()}`;

    function GetDateString(date) {
        return `${date.getDate()} ${monthValues[date.getMonth()]} ${date.getFullYear()}`;
    }

    // Get event ID from URL
    const id = window.location.pathname.split("/").reverse()[1];

    function init() {
        // Retrieve data about the event.
        getEventData();
        // Show the modal when the page loads.
        greeterModal.show();
    }

    function dismissModal() {
        name = document.getElementById("child-name").value;
        group = document.getElementById("child-group").value;
        greeterModal.hide();
        document.getElementById(
            "childInfoLabel"
        ).innerHTML = `<b>Naam:</b> ${name}<br><b>Klas:</b> ${group}`;
    }

    function getEventData() {
        fetch(`/api/event/${id}`)
            .then((response) => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw Error("Failed to fetch event");
                }
            })
            .then((data) => {
                // Set event name
                document.getElementById("eventHeader").innerHTML = data.name;
                // Set event location
                document.getElementById("locationPill").innerHTML = data.location;
                // Set durations
                meetingDurationInMinutes = data.meetingDurationInMinutes;
                breakDurationInMinutes = data.breakDurationInMinutes;
                // Determine which months and days to draw.
                for (let tb of data.timeblocks) {
                    // Determine month
                    // Create the month if it doesnt exist
                    // add it to the month
                    // go to next item

                    // Parse the date of the timeblock
                    tb.date = new Date(tb.date);

                    // Determine month
                    let tbmonth = tb.date.getMonth();
                    // Create the month if it doesn't already exist
                    if (dates[tbmonth] == null) {
                        dates[tbmonth] = [];
                    }

                    // Add the timeblock
                    dates[tbmonth].push(tb);
                }
                Draw();
            })
            .catch((error) => {
                console.log(error);
            });
    }

    function Draw() {
        ReactDOM.render(<DateTimePicker />, document.getElementById("root"));
    }

    class DatePicker extends React.Component {
        constructor(props) {
            super(props);
        }

        render() {
            let datepicker = [];
            let i = 0;
            for (const month in dates) {
                i++;
                // Add the month header
                datepicker.push(<MonthArea number={month} key={month} />);
                // Create array of buttons
                let dbArr = [];
                // And add the days to the array.
                let tempDates = [];

                // TODO
                // multiple timeblocks on the same date are fucked
                for (const tb of dates[month]) {
                    tempDates.push(tb.date);
                    dbArr.push(
                        <DateBubble
                            toggleActiveView={this.props.toggleActiveView}
                            date={tb.date}
                            from={tb.from}
                            until={tb.until}
                            key={tb.date.getTime()}
                        />
                    );
                }
                // Add the array to a row
                datepicker.push(<div className="row justify-content-start m-0" key={i + 69}>{dbArr}</div>);
            }

            return <React.Fragment>{datepicker}</React.Fragment>;
        }
    }

    class DateTimePicker extends React.Component {
        constructor(props) {
            super(props);
            this.state = { dayViewIsActive: false };
            this.toggleActiveView = this.toggleActiveView.bind(this);
            //this.existingRegistrations = [];
        }

        toggleActiveView() {
            // Make request to retrieve existing registrations
            //LoadRegistrations().then(console.log("toggleactiveview: ", existingRegistrations));
            //console.log(existingRegistrations);
            // toggle te boolean based on the previous value,
            // prevState cuz of asyncronous stuff.
            this.setState((prevState) => {
                return { dayViewIsActive: !prevState.dayViewIsActive };
            });
        }

        render() {
            if (this.state.dayViewIsActive) {
                return <DayView existingRegistrations={this.existingRegistrations} toggleActiveView={this.toggleActiveView} />;
            }

            return <DatePicker toggleActiveView={this.toggleActiveView} />;
        }
    }

    function MonthArea(props) {
        return <h3 className="mt-3">{monthValues[props.number]}</h3>;
    }

    class DateBubble extends React.Component {
        constructor(props) {
            super(props);
            this.handleClick = this.handleClick.bind(this);
        }

        handleClick() {
            currentFrom = parseInt(this.props.from);
            currentUntil = parseInt(this.props.until);
            currentDate = this.props.date;
            this.props.toggleActiveView();
        }

        render() {
            const bubbleStyle = {
                width: "40px",
                height: "40px",
                backgroundColor: "#8E36DE",
                color: "white",
                borderRadius: "50px",
                flex: 0,
            };

            return (
                <button
                    style={bubbleStyle}
                    className="btn btn-primary d-flex justify-content-center align-items-center col me-3"
                    onClick={this.handleClick}
                >
                    {this.props.date.getDate()}
                </button>
            );
        }
    }

    function LoadRegistrations() { // returns an array of (existing) registrations
        const url = '/api/registrations/' + id;

        return fetch(url)
            .then(response => response.json())
            .then(data => {
                return data
            })
            .catch((error) => {
                console.error(error)
            });

    }

    class DayView extends React.Component {
        constructor(props) {
            super(props);
            this.state = { existingRegistrations: [] };
            this.changeRegState = this.changeRegState.bind(this);
            this.backToDatePicker = this.backToDatePicker.bind(this);
        }

        changeRegState(arr) {
            this.setState({ existingRegistrations: arr })
        }

        componentDidMount() {
            // god i hate javascript
            console.log("component did mount!");
            LoadRegistrations().then(value => this.changeRegState(value));
        }

        backToDatePicker() {
            currentFrom = 0;
            currentUntil = 0;
            currentDate = new Date();
            this.props.toggleActiveView();
        }

        render() {
            if (this.state.existingRegistrations != null) {
                if (this.state.existingRegistrations.length === 0) {
                    return null;
                }
            }

            existingRegistrations = this.state.existingRegistrations;

            if (existingRegistrations == null) {
                existingRegistrations = [];
            }

            // Temp array to store meetings
            let meetingBubbleArray = [];

            // shitty math
            let amountOfHours = currentUntil - currentFrom;
            let amountOfMeetings = amountOfHours * 60 / (meetingDurationInMinutes + breakDurationInMinutes);
            currentDate.setHours(currentFrom);

            for (let i = 0; i < amountOfMeetings; i++) {
                let from = new Date(currentDate.getTime());
                from.setMinutes(from.getMinutes() + i * (meetingDurationInMinutes + breakDurationInMinutes));
                let until = new Date(from.getTime());
                until.setMinutes(until.getMinutes() + meetingDurationInMinutes);
                meetingBubbleArray.push(<MeetingBubble from={from} until={until} key={currentFrom + i} />);
            }

            return (
                <div className="container">
                    <div className="row justify-content-evenly">
                        <div className="row align-items-evenly p-0 mb-4">
                            <h3 className="text-start col-11 p-0" id="eventHeader">{GetDateString(currentDate)}</h3>
                            <button id="backBtn" type="button" className="btn btn-sm btn-primary col-1" onClick={this.backToDatePicker}>&lt;</button>
                        </div>
                        {meetingBubbleArray}
                    </div>
                </div>
            );
        }
    }

    class MeetingBubble extends React.Component {
        constructor(props) {
            super(props);
            this.handleClick = this.handleClick.bind(this);
            this.checkExistingRegistration = this.checkExistingRegistration.bind(this);
            this.durationString = "";
        }

        handleClick() {
            // Set modal values
            let mds = document.getElementById("modalDateString");
            let mts = document.getElementById("modalTimeString");
            mds.innerText = GetDateString(currentDate);
            mts.innerText = this.durationString;

            // Show modal asking for confirmation,
            // data will be submitted upon clicking yes.
            confirmationModal.show();
        }

        checkExistingRegistration(reg) {
            let dur = this.durationString.replace(/ /g, '').split('-');
            return reg.date == GetShortDateString(currentDate) && reg.from == dur[0] && reg.until == dur[1];
        }

        render() {
            // To keep track of occupied meetings
            let isInactive = false;

            // very importante
            this.durationString = "";

            this.durationString = this.durationString + this.props.from.getHours() + ":" + this.props.from.getMinutes();

            // Pad with zeroes
            if (this.props.from.getMinutes().toString().length < 2) {
                this.durationString = this.durationString + "0";
            }

            // Pad with zeroes
            this.durationString = this.durationString + " - " + this.props.until.getHours() + ":" + this.props.until.getMinutes();
            if (this.props.until.getMinutes().toString().length < 2) {
                this.durationString = this.durationString + "0";
            }

            // Evalute if this meeting has already been reserved
            if (existingRegistrations.some(this.checkExistingRegistration)) {
                isInactive = true;
            }

            // Styling da bois
            const bubbleStyle = {
                backgroundColor: "#8E36DE",
                color: "white",
                width: '200px',
                height: '80px',
                borderRadius: '500px',
                marginBottom: '20px',
            }

            // Make button unclickable and text line-through if it is indeed occupied
            if (isInactive) {
                return (
                    <button style={bubbleStyle} className="btn btn-primary d-flex col-6 justify-content-center align-items-center" onClick={this.handleClick} disabled>
                        <p className="lead text-center m-0"><del>{this.durationString}</del></p>
                    </button>
                )
            } else {
                return (
                    <button style={bubbleStyle} className="btn btn-primary d-flex col-6 justify-content-center align-items-center" onClick={this.handleClick}>
                        <p className="lead text-center m-0">{this.durationString}</p>
                    </button>
                )
            }
        }
    }

    function GetShortDateString(date) {
        let actualMonth = date.getMonth() + 1;
        return date.getFullYear() + '-' + actualMonth + '-' + date.getDate();
    }

    function SubmitRegistration() {
        const obj = new Object();
        obj.event_id = id;
        obj.name = document.getElementById("child-name").value;

        obj.date = GetShortDateString(currentDate); // yyyy-MM-dd

        let dur = document.getElementById("modalTimeString").innerText.replace(/ /g, '').split('-');
        obj.from = dur[0]; // HH:mm
        obj.until = dur[1]; // HH:mm

        const json = JSON.stringify(obj);
        const url = '/api/registration/new';

        fetch(url, {
            method: 'POST',
            body: json
        }).then(function (resp) {
            if (resp.ok) {
                return resp.json();
            }
            return null;
        }).then(function (json) {
            if (json.message === "success") {
                window.onbeforeunload = null;
                window.location.href = "/event/signup/" + json.id + "/success";
            } else {
                document.getElementById("errorMsg").innerHTML = json.message;
                document.getElementById("errorMsg").classList.remove("visually-hidden");
            }
        })
    }

    window.onload = init;
</script>

<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
{% endblock %}