{% extends "../layouts/default.html" %}

{% block title %}
Hello, Zepto!
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div id="errorMsg" class="alert alert-danger visually-hidden" role="alert"></div>
    <div class="row align-items-center mb-4">
        <div class="col-10">
            <p class="h3 m-0" id="eventTitle">Bijeenkomst</p>
        </div>
        <div class="d-flex col-2 justify-content-end">
            <button onclick="SubmitEventForm()" type="button" class="btn btn-primary">Opslaan</button>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="edit-tab" data-bs-toggle="tab" data-bs-target="#edit" type="button"
                role="tab" aria-controls="edit" aria-selected="true">Aanpassen</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="share-tab" data-bs-toggle="tab" data-bs-target="#share" type="button"
                role="tab" aria-controls="share" aria-selected="false">Uitnodigen</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active mt-4" id="edit" role="tabpanel" aria-labelledby="edit-tab">
            <form id="UpdatedEventForm">

                <div class="mb-3">
                    <label class="form-label">Naam</label>
                    <input id="eventName" name="name" type="text" class="form-control"
                        placeholder="Mentorgesprekken 5B" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Locatie</label>
                    <input id="eventLocation" name="location" type="text" class="form-control"
                        placeholder="Lokaal 323" />
                </div>

                <div class="row mb-3">
                    
                    <div class="col mb-3">
                        <label class="form-label">Gespreksduratie</label>
                        <div class="input-group">
                            <input id="eventLocation" name="location" type="text" class="form-control" placeholder="15">
                            <span class="input-group-text">minuten</span>
                        </div>
                        <label class="form-label text-muted">De gemiddelde tijd dat één gesprek kost.</label>
                    </div>

                    <div class="col mb-3">
                        <label class="form-label">Tijd tussen gesprekken</label>
                        <div class="input-group">
                            <input id="eventLocation" name="location" type="text" class="form-control" placeholder="5">
                            <span class="input-group-text">minuten</span>
                        </div>
                        <label class="form-label text-muted">De tijd vanaf de afloop van een gesprek tot het volgende
                            gesprek.</label>
                    </div>
                    
                </div>
                <div id="timeblockContainer" class="container p-0">
                    <div class="row align-items-center mb-4">
                        <div class="col-10">
                            <p class="h5 m-0">Beschikbare tijdsvakken</p>
                        </div>
                        <div class="d-flex col-2 justify-content-end">
                            <button onclick="AddTimeblock()" type="button" class="btn btn-primary btn-sm rounded-pill">
                                <i class="bi-calendar-plus" style="font-size: 1.2rem; color: white"></i>
                            </button>
                        </div>
                    </div>
                    <div id="timeblocks"></div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade mt-4" id="share" role="tabpanel" aria-labelledby="share-tab">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Link</label>
                <input id="eventLink" name="name" type="text" class="form-control" />
                <label class="text-muted">Let op: iedereen met deze link kan zich inschrijven voor deze
                    bijeenkomst.</label>
            </div>
        </div>
    </div>

</div>

<style>
    #timeblockRemoveBtn {
        color: red;
        font-size: 2rem;
    }
</style>

<script type="text/babel">
    let tbs = [];
    window.onload = LoadEventData;
    const id = window.location.pathname.split('/').pop();

    function LoadEventData() {
        console.log("Window is loaded!");
        document.getElementById("eventLink").value = window.location + "/signup";
        fetch(`/api/event/${id}`).then(response => {
            if (response.ok) {
                return response.json();
            } else { throw Error("Failed to fetch event"); }
        }).then(data => {
            console.log(data);
            // Get our eventContainer
            const et = document.getElementById("eventTitle");
            const en = document.getElementById("eventName");
            const el = document.getElementById("eventLocation");
            et.innerText = data.name;
            en.value = data.name;
            el.value = data.location;
            let i = 0;
            for (let tb of data.timeblocks) {
                AddTimeblock(tb.date);
                document.getElementById(`tb-${i}`).querySelector("div > div > div > div > div > div > #from").value = tb.from;
                document.getElementById(`tb-${i}`).querySelector("div > div > div > div > div > div > #until").value = tb.until;
                i++;
            }
        }).catch((error) => {
            console.log(error);
        });
    }

    function TimeDropdown(props) {
        return (
            <select className="text-center" id={props.id}>
                <option value="0">00:00</option>
                <option value="1">01:00</option>
                <option value="2">02:00</option>
                <option value="3">03:00</option>
                <option value="4">04:00</option>
                <option value="5">05:00</option>
                <option value="6">06:00</option>
                <option value="7">07:00</option>
                <option value="8">08:00</option>
                <option value="9">09:00</option>
                <option value="10">10:00</option>
                <option value="11">11:00</option>
                <option value="12">12:00</option>
                <option value="13">13:00</option>
                <option value="14">14:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>
                <option value="21">21:00</option>
                <option value="22">22:00</option>
                <option value="23">23:00</option>
            </select>
        )
    }

    function Timeblock(props) {
        function remove() {
            RemoveTimeblock(props.id);
        }

        return (
            <div id={props.id} className="row mb-3">
                <div className="card">
                    <div className="card-body row">
                        <div className="col-11">
                            Op <input id="date" type="date" defaultValue={props.date} /> ben ik beschikbaar van <span />
                            <TimeDropdown id="from" />
                            <span /> tot <span />
                            <TimeDropdown id="until" />
                        </div>
                        <div className="col-1 d-grid gap-2 d-md-flex justify-content-md-end">
                            <a ><i className="bi-file-x-fill" onClick={remove} id="timeblockRemoveBtn"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        );
    }

    function Timeblocks() {
        return <React.Fragment>{tbs}</React.Fragment>;
    }

    function AddTimeblock(date) {
        console.log(
            "Adding new timeblock to array, which is now " +
            tbs.length +
            " blocks long"
        );
        tbs.push(<Timeblock date={date} key={tbs.length} id={"tb-" + tbs.length.toString()} />);
        ReactDOM.render(<Timeblocks />, document.getElementById("timeblocks"));
    }

    function RemoveTimeblock(id) {
        console.log(
            "Removing timeblock to array, which is now " +
            tbs.length +
            " blocks long"
        );
        const index = id.split('-')[1];
        tbs.splice(index, 1);
        ReactDOM.render(<Timeblocks />, document.getElementById("timeblocks"));
    }

    function SubmitEventForm() {
        const form = document.getElementById("UpdatedEventForm");
        let formData = new FormData(form);
        const obj = new Object();
        obj.name = formData.get("name");
        obj.location = formData.get("location");
        obj.timeblocks = [];

        for (let i = 0; i < tbs.length; i++) {
            const tb = new Object();
            tb.date = document.querySelector(`#tb-${i.toString()} > div > div > div > input`).value;
            tb.from = document.querySelector(`#tb-${i.toString()} > div > div > div > select#from`).value;
            tb.until = document.querySelector(`#tb-${i.toString()} > div > div > div > select#until`).value;
            obj.timeblocks.push(tb);
        }

        const json = JSON.stringify(obj);
        const url = '/api/event/' + id;

        fetch(url, {
            method: 'POST',
            body: json
        }).then(function (response) {
            if (response.ok) {
                return response.json();
            }
            return null;
        }).then(function (json) {
            if (json.message === "success") {
                window.location = "/dashboard";
            } else {
                document.getElementById("errorMsg").innerHTML = json.message;
                document.getElementById("errorMsg").classList.remove("visually-hidden");
            }
        }).catch(function (error) {
            console.error(error);
        })
    }
</script>

<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

{% endblock %}