{% extends "../layouts/default.html" %} {% block title %} Hello, Zepto! {% endblock %} {% block body %}
<div class="container mt-5">
    <div id="errorMsg" class="alert alert-danger visually-hidden" role="alert"></div>
    <h1 class="text-start" id="eventHeader">Welkom!</h1>
    <p class="">
        <b>Locatie</b>:
        <span class="badge rounded-pill bg-primary" id="locationPill"></span>
    </p>
    <p id="childInfoLabel"></p>
    <p class="lead">Selecteer een moment uit de volgende opties:</p>
    <div id="root"></div>

    <!-- Modal -->
    <div class="modal fade" id="greeterModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Welkom!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Wat is de naam van uw kind?</label>
                            <input type="text" class="form-control" id="child-name" />
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">In welke klas zit uw kind?</label>
                            <input type="text" class="form-control" id="child-group" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="dismissModal()">
                        Opslaan
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Weet je het zeker?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Afspraak op: <span id="modalDateString"></span></p>
                    <p>van: <span id="modalTimeString"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="SubmitRegistration()">
                        Ja
                    </button>
                    <button type="button" class="btn btn-primary" onclick="confirmationModal.hide()">
                        Nee
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/babel">
    // Some constants
    const monthValues = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
    ];

    // Define our greeter modal
    var greeterModal = new bootstrap.Modal(
        document.getElementById("greeterModal"),
        null
    );

    // Define our confirmation modal.
    var confirmationModal = new bootstrap.Modal(
        document.getElementById("confirmationModal"),
        null
    );

    // Define our variables
    let datepicker = [];
    let name = "";
    let group = "";
    let months = [];
    let dates = {};
    let currentFrom = 0;
    let currentUntil = 0;
    let currentDate = new Date();
    let existingRegistrations = [];
    let meetingDurationInMinutes = 0;
    let breakDurationInMinutes = 0;
    //let dateString = `${currentDate.getDate()} ${monthValues[currentDate.getMonth()]} ${currentDate.getFullYear()}`;

    function GetDateString(date) {
        return `${date.getDate()} ${monthValues[date.getMonth()]} ${date.getFullYear()}`;
    }

    // Get event ID from URL
    const id = window.location.pathname.split("/").reverse()[1];

    function init() {
        // Retrieve data about the event.
        getEventData();
        // Show the modal when the page loads.
        //greeterModal.show();
    }

    function dismissModal() {
        name = document.getElementById("child-name").value;
        group = document.getElementById("child-group").value;
        greeterModal.hide();
        document.getElementById(
            "childInfoLabel"
        ).innerHTML = `<b>Naam:</b> ${name}<br><b>Klas:</b> ${group}`;
    }

    function getEventData() {
        fetch(`/api/event/${id}`)
            .then((response) => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw Error("Failed to fetch event");
                }
            })
            .then((data) => {
                // Set event name
                document.getElementById("eventHeader").innerHTML = data.name;
                // Set event location
                document.getElementById("locationPill").innerHTML = data.location;
                // Set durations
                meetingDurationInMinutes = data.meetingDurationInMinutes;
                breakDurationInMinutes = data.breakDurationInMinutes;
                // Determine which months and days to draw.
                for (let tb of data.timeblocks) {
                    // Determine month
                    // Create the month if it doesnt exist
                    // add it to the month
                    // go to next item

                    // Parse the date of the timeblock
                    tb.date = new Date(tb.date);

                    // Determine month
                    let tbmonth = tb.date.getMonth();
                    // Create the month if it doesn't already exist
                    if (dates[tbmonth] == null) {
                        dates[tbmonth] = [];
                    }

                    // Add the timeblock
                    dates[tbmonth].push(tb);
                }
                Draw();
            })
            .catch((error) => {
                console.log(error);
            });
    }

    function Draw() {
        ReactDOM.render(<DateTimePicker />, document.getElementById("root"));
    }

    class DatePicker extends React.Component {
        constructor(props) {
            super(props);
        }

        render() {
            let i = 0;
            for (const month in dates) {
                i++;
                // Add the month header
                datepicker.push(<MonthArea number={month} key={month} />);
                // Create array of buttons
                let dbArr = [];
                // And add the days to the array.
                for (const tb of dates[month]) {
                    dbArr.push(
                        <DateBubble
                            toggleActiveView={this.props.toggleActiveView}
                            date={tb.date}
                            from={tb.from}
                            until={tb.until}
                            key={tb.date.getTime()}
                        />
                    );
                }
                // Add the array to a row
                datepicker.push(<div className="row justify-content-start m-0" key={i + 69}>{dbArr}</div>);
            }

            return <React.Fragment>{datepicker}</React.Fragment>;
        }
    }

    class DateTimePicker extends React.Component {
        constructor(props) {
            super(props);
            this.state = { dayViewIsActive: false };
            this.toggleActiveView = this.toggleActiveView.bind(this);
            //this.existingRegistrations = [];
        }

        toggleActiveView() {
            // Make request to retrieve existing registrations
            LoadRegistrations().then(console.log(existingRegistrations));
            //console.log(existingRegistrations);
            // toggle te boolean based on the previous value,
            // prevState cuz of asyncronous stuff.
            this.setState((prevState) => {
                return { dayViewIsActive: !prevState.dayViewIsActive };
            });
        }

        render() {
            if (this.state.dayViewIsActive) {
                return <DayView existingRegistrations={this.existingRegistrations} />;
            }

            return <DatePicker toggleActiveView={this.toggleActiveView} />;
        }
    }

    function MonthArea(props) {
        return <h3 className="mt-3">{monthValues[props.number]}</h3>;
    }

    class DateBubble extends React.Component {
        constructor(props) {
            super(props);
            this.handleClick = this.handleClick.bind(this);
        }

        handleClick() {
            currentFrom = parseInt(this.props.from);
            currentUntil = parseInt(this.props.until);
            currentDate = this.props.date;
            console.log(currentDate);
            this.props.toggleActiveView();
        }

        render() {
            const bubbleStyle = {
                width: "40px",
                height: "40px",
                backgroundColor: "#8E36DE",
                color: "white",
                borderRadius: "50px",
                flex: 0,
            };

            return (
                <button
                    style={bubbleStyle}
                    className="btn btn-primary d-flex justify-content-center align-items-center col me-3"
                    onClick={this.handleClick}
                >
                    {this.props.date.getDate()}
                </button>
            );
        }
    }

    function DrawDayView() {
        ReactDOM.render(<DayView />, document.getElementById("dayView"));
    }

    async function LoadRegistrations() { // returns an array of (existing) registrations
        const url = '/api/registrations/' + id;

        fetch(url, {
            method: 'GET',
        }).then(function (resp) {
            if (resp.ok) {
                return resp.json();
            }
            return null;
        }).then(function (json) {
            existingRegistrations = json;
            console.log(existingRegistrations);
        })

    }

    class DayView extends React.Component {
        constructor(props) {
            super(props);
        }

        render() {

            let arr = [];
            //console.log(this.existingRegistrations);

            let amountOfHours = currentUntil - currentFrom;
            let amountOfMeetings = amountOfHours * 60 / (meetingDurationInMinutes + breakDurationInMinutes);
            currentDate.setHours(currentFrom);

            for (let i = 0; i < amountOfMeetings; i++) {
                let from = new Date(currentDate.getTime());
                from.setMinutes(from.getMinutes() + i * (meetingDurationInMinutes + breakDurationInMinutes));
                let until = new Date(from.getTime());
                until.setMinutes(until.getMinutes() + meetingDurationInMinutes);
                arr.push(<MeetingBubble from={from} until={until} key={currentFrom + i} />);
            }

            return (
                <div className="container">
                    <div className="row justify-content-evenly">
                        <h3 className="p-0 mb-3">{GetDateString(currentDate)}</h3>
                        {arr}
                    </div>
                </div>
            );
        }
    }

    class MeetingBubble extends React.Component {
        constructor(props) {
            super(props);
            this.handleClick = this.handleClick.bind(this);
            this.durationString = "";
        }

        handleClick() {
            // Set modal values
            let mds = document.getElementById("modalDateString");
            let mts = document.getElementById("modalTimeString");
            mds.innerText = GetDateString(currentDate);
            mts.innerText = this.durationString;

            // Show modal asking if you're sure
            confirmationModal.show();

            // Submit data on agree
        }

        render() {
            if (existingRegistrations.some(reg => reg.date === this.date)){
                console.log("yes")
            }
            const bubbleStyle = {
                backgroundColor: "#8E36DE",
                color: "white",
                width: '200px',
                height: '80px',
                borderRadius: '500px',
                marginBottom: '20px',
            }

            //let durationString = "";
            this.durationString = this.durationString + this.props.from.getHours() + ":" + this.props.from.getMinutes();

            // Pad with zeroes
            if (this.props.from.getMinutes().toString().length < 2) {
                this.durationString = this.durationString + "0";
            }

            // Pad with zeroes
            this.durationString = this.durationString + " - " + this.props.until.getHours() + ":" + this.props.until.getMinutes();
            if (this.props.until.getMinutes().toString().length < 2) {
                this.durationString = this.durationString + "0";
            }

            return (
                <div style={bubbleStyle} className="d-flex col-6 justify-content-center align-items-center" onClick={this.handleClick}>
                    <p className="lead text-center m-0">{this.durationString}</p>
                </div>
            )
        }
    }

    function SubmitRegistration() {
        const obj = new Object();
        obj.event_id = id;
        obj.name = document.getElementById("child-name").value;
        
        let actualMonth = currentDate.getMonth() + 1;
        obj.date = currentDate.getFullYear() + '-' + actualMonth + '-' + currentDate.getDate(); // yyyy-MM-dd

        let dur = document.getElementById("modalTimeString").innerText.replace(/ /g, '').split('-');
        obj.from = dur[0]; // HH:mm
        obj.until = dur[1]; // HH:mm

        const json = JSON.stringify(obj);
        const url = '/api/registration/new';

        fetch(url, {
            method: 'POST',
            body: json
        }).then(function (resp) {
            if (resp.ok) {
                return resp.json();
            }
            return null;
        }).then(function (json) {
            if (json.message === "success") {
                //
                alert("good shit mate!!!!!!");
            } else {
                document.getElementById("errorMsg").innerHTML = json.message;
                document.getElementById("errorMsg").classList.remove("visually-hidden");
            }
        })
    }

    window.onload = init;
</script>

<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
{% endblock %}