{% extends "../layouts/default.html" %}

{% block title %}
  Hello, Zepto!
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-start" id="eventHeader">Welkom!</h1>
    <p class=""><b>Locatie</b>: <span class="badge rounded-pill bg-primary" id="locationPill"></span></p>
    <p id="childInfoLabel"></p>
    <p class="lead">Selecteer een moment uit de volgende opties:</p>
    <div id="root"></div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Welkom!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Wat is de naam van uw kind?</label>
                    <input type="text" class="form-control" id="child-name">
                  </div>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">In welke klas zit uw kind?</label>
                    <input type="text" class="form-control" id="child-group">
                  </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="dismissModal()">Opslaan</button>
            </div>
        </div>
        </div>
    </div>
</div>

<script type="text/babel">
    // Some constants
    const monthValues = ["January","February","March","April","May","June","July","August","September","October","November","December"];
    // Define our modal
    var modal = new bootstrap.Modal(document.getElementById('exampleModal'), null);
    
    // Define our variables
    let datepicker = [];
    let name = "";
    let group = "";
    let months = [];
    let dates = {};

    // Get event ID from URL
    const id = window.location.pathname.split('/').reverse()[1];

    function init() {
        // Retrieve data about the event.
        getEventData();
        // Show the modal when the page loads.
        modal.show();
    }
    
    function dismissModal() {
        name = document.getElementById("child-name").value;
        group = document.getElementById("child-group").value;
        modal.hide();
        console.log(`Name: ${name}\n Class: ${group}`);
        document.getElementById("childInfoLabel").innerHTML = `<b>Naam:</b> ${name}<br><b>Klas:</b> ${group}`
    }

    function getEventData() {
        fetch(`/api/event/${id}`).then(response => {
            if (response.ok) {
                return response.json();
            } else { throw Error("Failed to fetch event"); }
        }).then(data => {
            // Set event name
            document.getElementById("eventHeader").innerHTML = data.name;
            // Set event location
            document.getElementById("locationPill").innerHTML = data.location;
            // Determine which months and days to draw.
            for (let tb of data.timeblocks) {
                // Determine month
                // Create the month if it doesnt exists
                // add it to the month
                // go to next item

                // Parse the date of the timeblock
                let tbdate = new Date(tb.date);

                // Determine month
                let tbmonth = tbdate.getMonth();
                // Create the month if it doesn't already exist
                if (dates[tbmonth] == null) {
                    dates[tbmonth] = [];                    
                }

                // Add the date
                dates[tbmonth].push(tbdate);
            }
            // Draw dates
            DrawDates();
        }).catch((error) => {
            console.log(error);
        });
    }

    function DrawDates() {
        // Iterate over dates object
        // and draw each month
        for (const month in dates) {
            datepicker.push(<MonthArea number={month} key={month} />);
            for (const date of dates[month]) {
                datepicker.push(<DateBubble number={date.getDate()} />);
            }     
        }
        ReactDOM.render(<DatePicker />, document.getElementById("root"));
    }

    function DatePicker(props) {
        return <React.Fragment>{datepicker}</React.Fragment>;
    }

    function MonthArea(props) {
        return (
            <h3 className="mt-3">{monthValues[props.number]}</h3>
        )
    }

    function DateBubble(props) {
        const bubbleStyle = {
            width: '50px',
            height: '50px',
            backgroundColor: '#8E36DE',
            color: 'white',
            borderRadius: '50px'

        }
        return (
            <div style={bubbleStyle} className="d-flex justify-content-center align-items-center" onClick={DateClicked}>{props.number}</div>
        );
    }

    function DateClicked() {
        alert();
    }
    
    //ReactDOM.render(<DatePicker />, document.getElementById('root'));

    
    window.onload = init;
</script>

<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
{% endblock %}