{% extends "../layouts/default.html" %}

{% block title %}
Hello, Zepto!
{% endblock %}

{% block body %}
<div class="p-5 m-5 text-center">
  <h1 class="display-5 fw-bold">
    Welkom bij Plentor!
  </h1>
  <div class="texts">
    <p class="lead">
      Zeg gedag tegen ongeorganiseerde mentoravonden en dubbele afspraken, Plentor schiet u te hulp!
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="window.location.href = '/register';">Meteen aan de slag</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="window.location.href = '/login';">Log In</button>
    </div>
  </div>
</div>
{% endblock %}