{% extends "../layouts/default.html" %}

{% block title %}
  Hello, Zepto!
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-5">Welkom!</h1>
          
        <form id="LoginForm">
            <!-- Email input -->
            <div class="form-floating mb-3">
                <input name="email" id="email" type="email" class="form-control" placeholder="name@example.com">
                <label for="floatingInput" class="text-muted h5">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-floating mb-3">
                <input name="password" id="password" type="password" class="form-control" placeholder="password">
                <label for="floatingInput" class="text-muted h5">Password</label>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <!-- Checkbox -->
                <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                    Remember me
                </label>
                </div>
                <a href="#!" class="text-body">Forgot password?</a>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                    class="link-danger">Register</a></p>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        function init() {
            const loginForm = document.getElementById('LoginForm');
            console.log(loginForm);
            loginForm.addEventListener('submit', function (e) {                
                e.preventDefault();
                    
                const formData = new FormData(loginForm);
                const email = formData.get('email');
                const password = formData.get('password');
                const formJson = `
                    {
                        "username": "${email}",
                        "password": "${password}"
                    }
                `;                           
                    
                fetch('/api/login', {
                    method: 'POST',
                    body: formJson
                }).then(function (response) {
                    return response.text();                        
                }).then(function (text) {
                    console.log(text);                        
                }).catch(function (error) {
                    console.error(error);
                })
                
            });
        }

        window.onload = init;
    </script>
{% endblock %}